<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyu.dao.FavoriteMapper">

    <resultMap id="BaseResultMap" type="com.xiaoyu.pojo.Favorite">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="consumer_id" property="consumerId" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="song_id" property="songId" jdbcType="INTEGER"/>
        <result column="song_list_id" property="songListId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,consumer_id,type,song_id,song_list_id,create_time
    </sql>

    <insert id="insert" parameterType="com.xiaoyu.pojo.Favorite">
        insert into favorite
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="consumerId != null">
                consumer_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="songId != null">
                song_id,
            </if>
            <if test="songListId != null">
                song_list_id,
            </if>
            create_time
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="consumerId != null">
                #{consumerId},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="songId != null">
                #{songId},
            </if>
            <if test="songListId != null">
                #{songListId},
            </if>
            now()
        </trim>
    </insert>

    <update id="update" parameterType="com.xiaoyu.pojo.Favorite">
        update favorite
        <set>
            <if test="consumerId != null">
                consumer_id = #{consumerId},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="songId != null">
                song_id = #{songId},
            </if>
            <if test="songListId != null">
                song_list_id = #{songListId},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from favorite where id = #{id}
    </delete>

    <delete id="removeFavorite" parameterType="java.lang.Integer">
        delete from favorite where consumer_id = #{consumerId} and song_id = #{songId}
    </delete>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from favorite
    </select>

    <select id="selectByConsumerId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from favorite where consumer_id = #{consumerId}
    </select>

    <select id="existSongId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from favorite where song_id = #{songId}
    </select>

    <select id="existSongList" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from favorite where song_list_id = #{songListId}
    </select>



</mapper>
